.tarefa-card {
    max-width: 300px;
    max-height: 300px;
    margin: 15px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-filters {
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-form {
    margin-right: 2rem;
}

.form-icon {
    cursor: pointer;
}