.spacer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-items {
    margin-left: 15px;
}

@media(max-width: 450px) {
    .spacer {
        max-width: 100%;
    }

    .menu-items {
        margin-left: 0px;
    }
}