<div class="container">
    <h2 mat-dialog-title>Login</h2>
    <mat-dialog-content>
        <mat-form-field class="form-field">
            <mat-label>Email</mat-label>
            <input matInput placeholder="test@example.com" required #email/>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Digite sua senha</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" #password/>
            <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()">
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </mat-dialog-content>
</div>
<mat-dialog-actions align="center">
    <button mat-button cdkFocusInitial (click)="login(email.value,password.value)">Login</button>
    <button mat-button mat-dialog-close>Registrar</button>
</mat-dialog-actions>