<div class="container">
    <mat-form-field class="mat-select">
        <mat-label>Escolha uma Lista</mat-label>
        <mat-select [formControl]="listControl" required>
            <mat-option>--</mat-option>
            @for (list of lists; track list.id) {
            <mat-option [value]="list">{{list.name}}</mat-option>
            }
        </mat-select>
        @if (listControl.hasError('required')) {
        <mat-error>Por favor escolha uma lista</mat-error>
        }

    </mat-form-field>
    <mat-hint  class="list-container">
        <mat-selection-list>
            <p class="list-container-p">
                <label>Name</label>
                <label>Quantidade</label>
            </p>
            @for (item of listControl.value?.items; track item.name) {
            <mat-list-option>
                <div class="list-item">
                    <label>{{item.name}}</label>
                    <label> {{item.quantity}}</label>
                </div>
            </mat-list-option>
            }
        </mat-selection-list>
    </mat-hint>
</div>