.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
}

.mat-select {
    margin-top: 30px;
    height: 12%;
}

.list-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-container-p {
    display: flex;
    justify-content: space-around;
    color: white;
}

.list-item {
    display: flex;
    justify-content: space-around;
}

.list-item-label-name {
    width: 80px;
}

.list-item-label-quantity {
    width: 92px;
}

@media (max-width:500px) {
    .list-container {
        width: 100vw;
    }
    
    .list-item {
        justify-content: space-between;
    }

    .list-container-p {
        justify-content: space-around;
    }
    
}